{:deps true

 :dev-http {8080 "public"}

 :builds
 {:app
  {:target :browser
   :js-options {:entry-keys ["module" "browser" "main"]}
   :compiler-options {:infer-externs :auto
                      :output-feature-set :es6}
   :output-dir "public/js"
   :asset-path "js"
   :modules {:shared {:entries [lotuc.binpack.binpack]}
             :main {:init-fn lotuc.binpack.visualizer/start
                    :depends-on #{:shared}}
             :binpack_worker {:init-fn lotuc.binpack.binpack-worker/init
                              :depends-on #{:shared}
                              :web-worker true}}}}}
